NAME=RISHIKA KUMARI
ROLL NO=23053649
CLASS=CSE 31

LAB_6

1. Write a Pandas program to add, subtract, multiply and divide two Pandas Series.

In [2]:
import pandas as pd
s1=pd.Series([23,22,56,78,65])
s2=pd.Series([1,2,6,3,4])

print("\naddition")
print(s1+s2)

print("\nSubraction")
print(s1-s2)

print("\nMultiplication:")
print(s1 * s2)

print("\ndivide")
print(s1/s2)

addition
0    24
1    24
2    62
3    81
4    69
dtype: int64

Subraction
0    22
1    20
2    50
3    75
4    61
dtype: int64

Multiplication:
0     23
1     44
2    336
3    234
4    260
dtype: int64

divide
0    23.000000
1    11.000000
2     9.333333
3    26.000000
4    16.250000
dtype: float64

2. Write a Pandas program to convert a dictionary to a Pandas Series.

In [3]:
import pandas as pd
data=({"Name":"Rishika","class":"cse31","roll_no": 3649})
print(pd.Series(data))

Name       Rishika
class        cse31
roll_no       3649
dtype: object

3. Write a Pandas program to convert a NumPy array to a Pandas Series.

In [5]:
import pandas as pd
import numpy as np

arr=np.array([1,2,3,4,5])
print(pd.Series(arr))

0    1
1    2
2    3
3    4
4    5
dtype: int32

4. Write a Pandas program to convert a given Series to an array.

In [7]:
import pandas as pd

series=pd.Series([10,20,30,40])
array=series.to_numpy()
print(array)

[10 20 30 40]

5. Write a Pandas program to convert Series of lists to one Series.

In [8]:
import pandas as pd

series=pd.Series([[1,2,3],[4,5],[6,7,8]])
new_series=series.explode()
print(new_series)

0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
dtype: object

6. Write a Pandas program to create a DataFrame from a dictionary and display it.

In [11]:
import pandas as pd
data={
    'Name':["Alice","Bob","Charlie"],
    'Age':[21,22,23],
    'Marks':[85,90,88]
}
df=pd.DataFrame(data)
print(df)

      Name  Age  Marks
0    Alice   21     85
1      Bob   22     90
2  Charlie   23     88

In [12]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
})

print(df.head(3))

   A   B
0  1  10
1  2  20
2  3  30

8. Write a Pandas program to select the 'name' and 'score' columns from the given DataFrame.

In [13]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_data,index=labels)

result=df[['name','score']]
print(result)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

9. Write a Pandas program to select the rows where the score is missing (NaN).

In [14]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)
result = df[df['score'].isna()]
print("Rows where score is missing:")
print(result)

Rows where score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

10. Write a Pandas program to append a new row 'k' and then delete it to return the original DataFrame.

In [15]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)

# Append new row
df.loc['k'] = ['Suresh', 15.5, 1, 'yes']

print("Print all records after inserting a new record:")
print(df)

# Delete the new row
df = df.drop('k')

print("\nOriginal DataFrame after deleting the new row:")
print(df)

Print all records after inserting a new record:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

Original DataFrame after deleting the new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes